In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
fname_matrixvalues = "data/interim/user_product_matrix_values.csv"
fname_rowIDs = "data/interim/user_product_matrix_rowIDs.csv"
fname_headers = "data/interim/user_product_matrix_headers.csv"

In [3]:
df_values = pd.read_csv(fname_matrixvalues, header=None)

In [4]:
df_values.head()

,0,1,2,3,4,5,6,7,8,9,...,8270,8271,8272,8273,8274,8275,8276,8277,8278,8279
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
from sklearn.decomposition import PCA, TruncatedSVD

In [6]:
pca = PCA(n_components=100, svd_solver='randomized')

In [7]:
%%time

pca.fit(df_values.values.T)

CPU times: user 13min 48s, sys: 1min 12s, total: 15min
Wall time: 2min 18s

PCA(copy=True, iterated_power='auto', n_components=100, random_state=None,
  svd_solver='randomized', tol=0.0, whiten=False)

In [17]:
pca.components_.T.shape

(206139, 100)

In [15]:
sum(pca.explained_variance_ratio_)

0.38506930890735436

In [32]:
from sklearn.cluster import KMeans, DBSCAN

In [19]:
kmeans = KMeans()

In [20]:
kmeans.fit(pca.components_.T)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [22]:
kmeans.labels_.shape

(206139,)

In [25]:
df_users = pd.read_csv(fname_rowIDs, header=None)

In [27]:
df_users = df_users.T

In [29]:
df_users['cluster'] = kmeans.labels_.T

In [31]:
df_users.groupby('cluster').size()

cluster
0    197969
1       718
2       638
3      2183
4      2636
5       546
6       669
7       780
dtype: int64

In [33]:
dbscan = DBSCAN(n_jobs=-1)

In [ ]:
dbscan.fit(pca.components_.T)